*{
    font-family: "Arial";
}

@media screen and (max-width: 1400px), (max-height: 400px) {
    .btn-text {
        display: none;
        font-size: 1vh;
    }

    .sidebar {
        max-width: 5vw;
    }

    .logo-img{
        display: none;
    }
}